<div class="container" id="index-page">
  {{!-- filtering --}}
  <form action="/" method="GET" id="filter-form" class="mb-5">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label for="category-select" class="input-group-text">類別</label>
      </div>
      <select class="form-control" id="category-select" name="category">
        <option value="all" {{#if (eq "all" ../category)}}selected{{/if}}>All</option>
        {{#each categories}}
        <option value="{{ this.name }}" {{#if (eq this.name ../category)}}selected{{/if}}>{{ this.name }}
        </option>
        {{/each}}
      </select>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <label for="year" class="input-group-text">月份</label>
      </div>
      <input type="number" step="1" class="form-control" id="year" name="year" value="{{ year }}">
      <label for="year" class="input-group-text rounded-0">年</label>
      <input type="number" step="1" max="12" min="1" class="form-control" id="month" name="month" value={{ month }}>
      <label for="month" class="input-group-text rounded-0">月</label>
      <div class="input-group-append">
        <button class="btn btn-info" type="submit">篩選</button>
        <button class="btn btn-secondary rounded-right" type="button" id="clear-year-month">X</button>
      </div>
      <input type="hidden" id="utc-offset" name="utcOffset">

      {{!-- search --}}
      <div class="input-group mt-3">
        <input type="search" class="form-control" placeholder="搜尋支出名稱..." id="search" name="search"
          value="{{ search }}">
        <div class="input-group-append">
          <button class="btn btn-info rounded-right" type="submit">搜尋</button>
        </div>
      </div>
    </div>

    {{!-- sorting --}}
    <input type="hidden" id="sort" name="sort" value="{{ sort }}">

    {{!-- error message --}}
    <p class="text-muted mt-2 text-right">{{ error }}</p>
  </form>

  <a href="/records/new" class="btn btn-create btn-block visible-mb">新增支出</a>

  {{!-- data panel --}}
  <div class="d-flex flex-wrap align-items-end justify-content-between">
    <div id="total-amount-wrapper" class="d-flex flex-wrap align-items-start justify-content-between pt-3">
      <span class="total-amount-title">總金額</span>
      <span id="total-amount" class="text-danger">{{ numberFormat totalAmount }}</span>
    </div>
    <div id="sort-btns">
      <button class="btn btn-success btn-sm" id="amount-sort" title="金額排序" data-toggle="tooltip" data-placement="bottom"
        data-sort="{{#if (eq sort 'amount-desc')}}amount-desc{{else}}amount-asc{{/if}}" style="font-size: 1.2rem">
        <i class="fas {{#if (eq sort 'amount-desc')}}fa-sort-amount-up-alt{{else}}fa-sort-amount-down-alt{{/if}}"></i>
      </button>
      <button class="btn btn-success btn-sm" id="date-sort" title="日期排序" data-toggle="tooltip" data-placement="bottom"
        data-sort="{{#if (eq sort 'date-desc')}}date-desc{{else}}date-asc{{/if}}" style="font-size: 1.2rem">
        <i class="fas {{#if (eq sort 'date-desc')}}fa-sort-numeric-up{{else}}fa-sort-numeric-down{{/if}}"></i>
      </button>
    </div>

  </div>


  <ul class="list-group">
    {{#each records}}
    <div class=" d-flex justify-content-between align-items-center">
      <li class="list-group-item">
        <div class="left-item-info row justify-content-between align-items-center">
          <i class="{{ this.category.iconClass }} category col-1" title="{{ this.category.name }}" data-toggle="tooltip"
            data-placement="bottom"></i>
          <div class="middle-info col-7 pl-4">
            <div class="name">{{ this.name }}</div>
            <div class="date-field" data-timestamp="{{ this.date }}"></div>
          </div>
          <div class="amount col-3 text-right">{{ numberFormat this.amount }}</div>
        </div>

      </li>
      <div class="right-btn-group">
        <a href="/records/edit/{{ this._id }}" class="edit-btn btn btn-sm btn-info"><i class="fas fa-edit"></i></a>
        <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;" class="delete-form"
          data-timestamp="{{ this.date }}" onsubmit="return confirm(`確定要刪除這筆支出嗎?
  名稱: {{ this.name }}
  日期: ${dateFormat('/', new Date(Number(this.dataset.timestamp)))}
  金額: {{ numberFormat this.amount }}`)">
          <button class="delete-btn btn btn-sm btn-secondary"><i class="fas fa-trash-alt"></i></button>
        </form>
      </div>
    </div>
    {{/each}}
  </ul>
</div>