<div class="container" id="index-page">
  {{!-- filtering --}}
  <form action="/" method="GET" id="filter-form" class="mb-5">
    <div class="row mb-3">
      <div class="col">
        <a href="/records/new" class="btn btn-create">新增支出</a>
      </div>
      <div class="col">
        <select class="form-control" id="category-select" name="category">
          <option value="all" {{#if (eq "all" ../category)}}selected{{/if}}>All</option>
          {{#each categories}}
          <option value="{{ this.name }}" {{#if (eq this.name ../category)}}selected{{/if}}>{{ this.name }}
          </option>
          {{/each}}
        </select>
      </div>
      <div class="col">
        <input type="month" class="form-control" value="{{year}}-{{month}}">
        <input type="hidden" id="utc-offset" name="utcOffset">
      </div>
      <div class="col">
        <select type="text" class="form-control">
          <option value="date-desc">日期: 新 - 舊</option>
          <option value="date-asc">日期: 舊 - 新</option>
          <option value="amount-desc">金額: 大 - 小</option>
          <option value="amount-asc">金額: 小 - 大</option>
        </select>
      </div>
      <div class="col">
        <input type="search" class="form-control" placeholder="搜尋支出名稱..." id="search" name="search"
          value="{{ search }}">
      </div>
      {{!-- <div class="input-group-append">
        <button class="btn btn-info" type="submit">篩選</button>
        <button class="btn btn-secondary rounded-right" type="button" id="clear-year-month">X</button>
      </div> --}}
    </div>

    {{!-- sorting --}}
    {{!-- <input type="hidden" id="sort" name="sort" value="{{ sort }}"> --}}

    {{!-- error message --}}
    <p class="text-muted mt-2 text-right">{{ error }}</p>
  </form>



  {{!-- data panel --}}
  {{!-- <div class="d-flex flex-wrap align-items-end justify-content-between">
    <div id="total-amount-wrapper" class="d-flex flex-wrap align-items-start justify-content-between pt-3">
      <span class="total-amount-title">總金額</span>
      <span id="total-amount" class="text-danger">{{ numberFormat totalAmount }}</span>
    </div>
    <div id="sort-btns">
      <button class="btn btn-success btn-sm" id="amount-sort" title="金額排序" data-toggle="tooltip" data-placement="bottom"
        data-sort="{{#if (eq sort 'amount-desc')}}amount-desc{{else}}amount-asc{{/if}}" style="font-size: 1.2rem">
        <i class="fas {{#if (eq sort 'amount-desc')}}fa-sort-amount-up-alt{{else}}fa-sort-amount-down-alt{{/if}}"></i>
      </button>
      <button class="btn btn-success btn-sm" id="date-sort" title="日期排序" data-toggle="tooltip" data-placement="bottom"
        data-sort="{{#if (eq sort 'date-desc')}}date-desc{{else}}date-asc{{/if}}" style="font-size: 1.2rem">
        <i class="fas {{#if (eq sort 'date-desc')}}fa-sort-numeric-up{{else}}fa-sort-numeric-down{{/if}}"></i>
      </button>
    </div>

  </div> --}}


  <ul class="list-group">
    {{#each records}}
    <li class="list-group-item">
      <div class="record-wrapper d-flex justify-content-between">
        <div class="left-item-info d-flex flex-grow-1 justify-content-between align-items-center">
          <i class="{{ this.category.iconClass }} category col-1" title="{{ this.category.name }}" data-toggle="tooltip"
            data-placement="bottom"></i>
          <div class="middle-info col-7 col-md-9 pl-4">
            <div class="name">{{ this.name }}</div>
            <div class="date-field" data-timestamp="{{ this.date }}"></div>
          </div>
          <div class="amount col-3 col-md-2 text-right">{{ numberFormat this.amount }}</div>
        </div>
        <div class="right-btn-group d-flex align-items-center justify-content-end">
          <a href="/records/edit/{{ this._id }}" class="btn btn-record"><i class="fas fa-edit"></i></a>
          <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;"
            class="delete-form" data-timestamp="{{ this.date }}" onsubmit="return confirm(`確定要刪除這筆支出嗎?
              名稱: {{ this.name }}
              日期: ${new Date(Number(this.dataset.timestamp)).toISOString().slice(0, 10)}
              金額: {{ numberFormat this.amount }}`)">
            <button class="btn btn-record"><i class="fas fa-trash-alt"></i></button>
          </form>
        </div>
      </div>

    </li>
    {{/each}}
  </ul>
</div>