<div class="container" id="index-page">
  <form action="/" method="POST" id="category-select-form">
    <div class="form-group">
      <select class="form-control" id="category-select">
        {{#each categories}}
        <option>{{ this.name }}</option>
        {{/each}}
      </select>
    </div>
  </form>
  <div id="total-amount-wrapper">
    <span class="total-amount-title">總金額</span>
    <span id="total-amount">{{ numberFormat totalAmount }}</span>
  </div>
  <ul class="list-group">
    {{#each records}}
    <div class=" d-flex justify-content-between align-items-center">
      <li class="left-item-info list-group-item d-flex justify-content-between align-items-center">
        <i class="{{ this.category.iconClass }} category" title="{{ this.category.name }}" data-toggle="tooltip"
          data-placement="bottom"></i>
        <div class="middle-info">
          <div class="name">{{ this.name }}</div>
          <div class="date">{{ dateFormat "/" this.date}}</div>
        </div>
        <div class="amount">{{ numberFormat this.amount }}</div>
      </li>
      <div class="right-btn-group">
        <a href="/records/edit/{{ this._id }}" class="edit-btn btn">修改</a>
        <a href="" class="delete-btn btn">刪除</a>
      </div>
    </div>
    {{/each}}
  </ul>
</div>