<div class="container" id="index-page">
  {{> message}}

  <div id="data-panel" class="mb-3">
    <div id="total-amount" class="text-danger">{{ numberFormat totalAmount }}</div>
    <div class="chart-container">
      <canvas id="chart"></canvas>
    </div>
  </div>


  {{!-- filtering --}}
  <form action="/" method="GET" id="filter-form" class="mb-1">
    <div class="row mb-3 mx-1 mx-sm-0 justify-content-end">
      <a href="/records/new" class="btn btn-info mr-sm-1 mr-sm-auto col-12 col-sm-auto mb-1"> + 支出</a>
      <button type="reset" class="btn btn-light mr-sm-1 mr-md-2 ml-md-1 clear-filter mb-1 col-12 col-sm-auto ">
        <i class="fas fa-filter"></i>
      </button>
      <select class="form-control mr-sm-1 mr-md-2 mb-1 col-6 col-sm-4 col-md-3 col-lg-2" id="category" name="category">
        <option value="all" {{#if (eq "all" ../category)}}selected{{/if}}>All</option>
        {{#each categories}}
        <option value="{{ this.name }}" {{#if (eq this.name ../category)}}selected{{/if}}>{{ this.name }}
        </option>
        {{/each}}
      </select>
      <input type="month" class="form-control mr-sm-1 mr-md-2 mb-1 col-6 col-sm-4 col-md-3 col-lg-2" id="month"
        name="month" value="{{month}}">
      <input type="hidden" id="utc-offset" name="utcOffset">
      <div class="filter-form-break"></div>
      <select class="form-control mr-sm-1 mr-md-2 mb-1 col-6 col-sm-5 col-md-3 col-lg-2" name="sort" id="sort">
        <option value="date-asc" {{#if (eq sort 'date-asc' )}}selected{{/if}}>日期: 舊 - 新</option>
        <option value="date-desc" {{#if (eq sort 'date-desc' )}}selected{{/if}}>日期: 新 - 舊</option>
        <option value="amount-desc" {{#if (eq sort 'amount-desc' )}}selected{{/if}}>金額: 大 - 小</option>
        <option value="amount-asc" {{#if (eq sort 'amount-asc' )}}selected{{/if}}>金額: 小 - 大</option>
      </select>
      <input type="search" class="form-control mr-sm-1 mr-md-2 mb-1 col-6 col-sm-4 col-md-3" placeholder="搜尋支出名稱..."
        id="search" name="search" value="{{ search }}">
    </div>

    {{!-- error message --}}
    <p class="text-muted mt-2 text-center">{{ error }}</p>

  </form>

  <ul class="list-group">
    {{#each records}}
    <li class="list-group-item">
      <div class="record-wrapper d-flex justify-content-between">
        <div class="left-item-info d-flex flex-grow-1 justify-content-between align-items-center">
          <i class="{{ this.category.iconClass }} category col-1" title="{{ this.category.name }}" data-toggle="tooltip"
            data-placement="bottom"></i>
          <div class="middle-info col-7 col-md-9 pl-4">
            <div class="name">{{ this.name }}</div>
            <div class="date-field" data-timestamp="{{ this.date }}"></div>
          </div>
          <div class="amount col-3 col-md-2 text-right">{{ numberFormat this.amount }}</div>
        </div>
        <div class="right-btn-group d-flex align-items-center justify-content-end">
          <a href="/records/edit/{{ this._id }}" class="btn btn-record"><i class="fas fa-edit"></i></a>
          <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;"
            class="delete-form" data-timestamp="{{ this.date }}" onsubmit="return confirm(`確定要刪除這筆支出嗎?
              名稱: {{ this.name }}
              日期: ${new Date(Number(this.dataset.timestamp)).toISOString().slice(0, 10)}
              金額: {{ numberFormat this.amount }}`)">
            <button class="btn btn-record"><i class="fas fa-trash-alt"></i></button>
          </form>
        </div>
      </div>

    </li>
    {{/each}}
  </ul>
</div>