<div class="container" id="index-page">
  <form action="/" method="GET" id="category-select-form">
    <div class="form-group">
      <select class="form-control" id="category-select" name="category">
        <option value="all" {{#if (eq "all" ../selectedCategory)}}selected{{/if}}>All</option>
        {{#each categories}}
        <option value="{{ this.name }}" {{#if (eq this.name ../selectedCategory)}}selected{{/if}}>{{ this.name }}
        </option>
        {{/each}}
      </select>
    </div>
  </form>
  <div id="total-amount-wrapper">
    <span class="total-amount-title">總金額</span>
    <span id="total-amount">{{ numberFormat totalAmount }}</span>
  </div>
  <ul class="list-group">
    {{#each records}}
    {{#if (or (eq ../selectedCategory "all") (eq ../selectedCategory this.category.name))}}
    <div class=" d-flex justify-content-between align-items-center">
      <li class="left-item-info list-group-item d-flex justify-content-between align-items-center">
        <i class="{{ this.category.iconClass }} category" title="{{ this.category.name }}" data-toggle="tooltip"
          data-placement="bottom"></i>
        <div class="middle-info">
          <div class="name">{{ this.name }}</div>
          <div class="date">{{ dateFormat "/" this.date}}</div>
        </div>
        <div class="amount">{{ numberFormat this.amount }}</div>
      </li>
      <div class="right-btn-group">
        <a href="/records/edit/{{ this._id }}" class="edit-btn btn btn-warning">修改</a>
        <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;" class="delete-form"
          onsubmit="return confirm(`確定要刪除這筆支出嗎?
  名稱: {{ this.name }}
  日期: {{ dateFormat "/" this.date }}
  金額: {{ numberFormat this.amount }}`)">
          <button class="delete-btn btn btn-danger">刪除</button>
        </form>
      </div>
    </div>
    {{/if}}
    {{/each}}
  </ul>
</div>