<div class="container" id="new-edit-page">
  <div class="title row align-items-center mb-2">
    <small class="col-sm-3"><span class="required-mark">*</span>必填欄位</small>
    <div class="col-sm-9 text-center">
      <h4>{{#if isEdit}}請修改你的支出{{else}}請輸入你的支出{{/if}}</h4>
    </div>

  </div>
  <form action="/records{{#if isEdit}}/{{record._id}}?_method=PUT{{/if}}" method="POST">
    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label">名稱<span class="required-mark">*</span></label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="name" name="name" maxlength="50" pattern=".*[^\s].*" required
          {{#if isEdit}}value="{{ record.name }}" {{/if}}>
      </div>
    </div>
    <div class="form-group row">
      <label for="date" class="col-sm-3 col-form-label">日期<span class="required-mark">*</span></label>
      <div class="col-sm-9">
        <input type="date" class="form-control" id="date" data-timestamp="{{ record.date }}" required>
        {{!-- manage time zone difference --}}
        <input type="hidden" class="form-control" name="date" id="timestamp" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="category" class="col-sm-3 col-form-label">類別<span class="required-mark">*</span></label>
      <div class="col-sm-9">
        <select class="form-control" id="category" name="category" required>
          {{#each categories}}
          <option value="{{ this._id }}" {{#if (and isEdit (eq ../record.category.name this.name))}}selected{{/if}}>
            {{ this.name }}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="merchant" class="col-sm-3 col-form-label">店家</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="merchant" name="merchant" maxlength="100" pattern=".*[^\s].*"
          {{#if isEdit}}value="{{ record.merchant }}" {{/if}}>
      </div>
    </div>
    <div class="form-group row">
      <label for="amount" class="col-sm-3 col-form-label">金額<span class="required-mark">*</span></label>
      <div class="col-sm-9">
        <input type="number" class="form-control" id="amount" name="amount" min="1" required
          {{#if isEdit}}value="{{record.amount}}" {{/if}}>
      </div>
    </div>
    <div class="row">
      <div class="offset-sm-3 col-sm-9" style="padding: 6px 12px;">
        <button type="submit" class="btn btn-info" style="width: 100%">{{#if isEdit}}送出{{else}}新增支出{{/if}}</button>
      </div>
    </div>
  </form>
</div>