<div class="container" id="new-edit-page">
  <div class="title row align-items-center mb-2">
    <small class="col-sm-2"><span class="required-mark">*</span>必填欄位</small>
    <div class="col-sm-10 text-center">
      <h4>{{#if isEdit}}請修改你的支出{{else}}請輸入你的支出{{/if}}</h4>
    </div>

  </div>
  <form action="/records{{#if isEdit}}/{{record._id}}?_method=PUT{{/if}}" method="POST">
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">名稱<span class="required-mark">*</span></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name" required {{#if isEdit}}value="{{ record.name }}"
          {{/if}}>
      </div>
    </div>
    <div class="form-group row">
      <label for="date" class="col-sm-2 col-form-label">日期<span class="required-mark">*</span></label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="date" name="date"
          value={{#if isEdit}}{{ dateFormat "-" record.date}}{{else}}{{ dateFormat "-" today}}{{/if}} required>
      </div>
    </div>
    <div class="form-group row">
      <label for="category" class="col-sm-2 col-form-label">類別<span class="required-mark">*</span></label>
      <div class="col-sm-10">
        <select class="form-control" id="category" name="category" required>
          {{#each categories}}
          <option value="{{ this._id }}" {{#if (and isEdit (eq ../record.category.name this.name))}}selected{{/if}}>
            {{ this.name }}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="amount" class="col-sm-2 col-form-label">金額<span class="required-mark">*</span></label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="amount" name="amount" min="0" required
          {{#if isEdit}}value="{{record.amount}}" {{/if}}>
      </div>
    </div>
    <div class="row">
      <div class="offset-sm-2 col-sm-10" style="padding: 6px 12px;">
        <button type="submit" class="btn btn-info" style="width: 100%">新增支出</button>
      </div>
    </div>
  </form>
</div>